@model ForeverBio.Models.ViewModels.Account.UserNavPartialVM

<li class="nav-item"><a href="/Cart/Index" class="nav-link">Cart</a></li>
<li class="nav-item"><a href="/Account/Orders" class="nav-link">Orders</a></li>
<li class="nav-item"><a href="/account/user-profile" class="nav-link">(@Model.Username)</a></li>

